


html {
    color: rgb(240, 229, 229);
    font-family: 'Brush Script MT', cursive;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    width: 1480px;
    height: 3646px;
    opacity: 0.82;
    background-image: url("background trees.jpg");
}

.topnav {
    margin: 0;
    padding: 0;
    position: fixed;
    width: 100%;
    height: 80px;
    background-color: darkgreen;
    text-align: center;
    font-size: 40px;
}

.topnav a {
    display: inline;
    padding: 40px;
    overflow: hidden;
    color: rgb(240, 229, 229);
}
.topnav a:hover {
    background-color: seashell;
    color: darkgreen;
}
.active {
    background-color: olivedrab;
}

#mepic {
    max-width: 340px;
    height: auto;
}

#wolfpic {
    max-width: 500px;
    height: auto;

}
.flex-container {
    display: flex;
    flex-direction: row;
    font-size: 40px;
    text-align: center;
}
.flex-item-left {
    padding: 60px;
    flex: 50%;
}
.flex-item-right {
    padding: 60px;
    flex: 50%;
}

@media (max-width: 600px) {
    .flex-container {
        flex-direction: column;
    }
}
