
html {
    color: white;
    font-family: 'Brush Script MT', cursive;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    width: fit-content;

    box-sizing: border-box;
}

body {
    opacity: 0.9;
    background-image: url("images/background trees.jpg");
    width: fit-content;

}

header {
    margin: 0;
    padding: 0;
    position: fixed;
    width: 100%;
    height: 4rem;
    background-color: darkgreen;
    
    text-align: center;
}

header a {
    display: inline;
    padding: 40px;
    overflow: hidden;
    color: white;
}
header a:hover {
    background-color: seashell;
    height: 30px;
    color: darkgreen;
}
.active {
    background-color: olivedrab;
}

.home-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 200px 100px;
}

.home-cont-left{
    padding: 400px;
    padding-left: 100px;
    padding-right: 75px;
}

.home-cont-right{
    padding: 50px;
}

.container-me {
    padding: 2px;
    width: 300px;
    height: auto;
    background-color: darkgreen;
    text-align: center;
    box-shadow: -8px 7px 2px 1px rgb(34 34 34 / 60%);
}

.container-aboutme, .container-projects, .container-contact {
    padding: 5px;
    width: 200px;
    height: auto;
    background-color: darkgreen;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    box-shadow: -8px 7px 2px 1px rgb(34 34 34 / 60%);

}

.cont-about{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 200px 100px;
}
.cont-about-left{
padding: 50px;
}
.cont-about-right{
padding: 50px;
width: 350px;
height: auto;
background-color: darkgreen;
margin-left: auto;
margin-right: auto;
/* text-align: center; */
box-shadow: 8px 7px 2px 1px rgb(34 34 34 / 60%);

}
#wolfpic{
    max-width: 450px;
}

.cont-projects{
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px;
    padding: 200px;
}
.cont-project-1{
    padding: 20px 0;
    width: auto;
    height: 200px;
    background-color: ivory;
    color: darkgreen;
    text-align: center;

}

#message{
    word-break: break-word;
}

.form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.form-left{
    padding-top:  125px;
    padding-left: auto;
    padding-right: 50px;
    justify-self: end;
}
.form-left label{
    display: inline-block;
    width: 100px;
    text-align: right;

}
.form-right{
    padding-top: 100px;
    justify-self: start;
    padding-left: 100px;
}
.submit{
 display: flex;
 justify-content: center;
 align-items: center;
 padding: 100px 0;
}
.submit input{
    color: ivory;
    background-color: darkgreen;
    height: 3rem;
    width: 5rem;
}
/* @media (max-width: 600px) {
    .home-container {
        grid-template-columns: repeat(1, 1fr);
    }
} */