.title{
    background-color: darkgreen;
    color: ivory;
    text-align: center;
    margin: auto;
    padding-top: 10px;
}


.container{
    display: grid;
    grid-template-areas: "left right";
    box-sizing: border-box;
    border-radius: 50px;
    margin: 10px;
    
}
.container-left{
   
    color: rgb(245, 245, 236);
    max-width: fit-content;
    justify-self: center;
    align-self: center;
    padding: 5px;
    border-radius: 10px;
    font-family: fantasy;
}
img{
    max-width: 350px;
    border-radius: 50px;
}
.container-right{
    justify-self: center;

}
h3{
    text-align: center;
}