.App{
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    background-image: url('./Components/images/background trees.jpg');
    z-index: 0;
}